
.el-header, .el-footer {
background-color: #ffffff;
color: #333;
text-align: center;

}

.fixed-header {
    color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影使分割线更加明显 */
    padding: 20px; /* 根据需要调整内边距 */
}
.fixed-header h1, .fixed-header h2{
    margin: 0;
}


.el-aside {
background-color: #D3DCE6;
color: #333;
text-align: center;
line-height: 200px;
}

.el-main {
    margin: 80px 0px;
    padding: 0;
    background-color: #ffffff;
    color: #333;

}

body > .el-container {
margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
line-height: 320px;
}
.el-form-item .el-form-item__label {
    text-align: left;
}

.main-contanier{
    width: 1240px;
    margin:0 auto;
}



.info .card-h1{
    text-align: left;
    padding: 5px;
}

.text-content {
    padding: 0px 20px;
}

.person-info-card{
    padding-left: 15px;
}

.person-info-collect{
    width: 80%;
    align-items: center;

}
.train-info-card {
    display: flex;

}
/* .train-info{
    width: 80%;
} */

.go-to-next-card{
    margin-top: 20px;
    margin-bottom: 25px;
}
.train-info{
    margin-left: 50px;
}


.input-button-together{
    display: flex;
    align-items: center;
}

.input-button-together .input{
    height: 50px;

    line-height: 50px;
}
.input-button-together .delete-button{
    margin-left: 10px;
}

.classfy-form-card .el-input-number{
    float: left;
}
.form-edit-area{
    padding: 5px;
    margin-bottom: 20px;

}

.task-decription-area{
    display: flex;
    flex-direction: column;

    width: 75%;
    padding:10px;
    text-align: left;
    margin-left: 10px;

}

.task-decription-area .task-decription-title{
    align-items: center;
    width: 100%;
    height: 45px;
}
.form-scope .label{
    padding-top: 6px;
    font-size: 14px;
    color: #606266;
}

.result-card {
    margin-top: 10px; /* 上下边距 */
    padding: 16px; /* 内边距 */
    color:#3c3d3f
  }

.result-content {
    font-size: 16px;
    color:#606266;
}

  /* =========task.css ===========*/
.task-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.task-area .task-title{
    width: 100%;

}
/* .task-title h1{
    margin-top: 0;
} */

.task-area .task-content{
    padding-bottom: 20px;
}
.task-content .task-content-description{
    width: 95%;
}
.task-content .task-content-description p{
    line-height: 26px;
    font-size: 16px;
    color:#606266
}

.task-content-form{
    display: flex;
    flex-direction: column;

}

.task-form-description{
    word-wrap: break-word; /*自动换行 */
    overflow-wrap: break-word;
}
.task-form-description .el-radio{
    line-height: 24px;
    display: block;
    white-space: normal;
    margin: 8px 0;
}

  .task-content-form .task-form-description p{
    font-size: 14px;
    color:#606266
}

.task-content-form .task-form-area{
    padding: 20px;

}
.form-submit-area{

    margin-bottom: 20px;
}

.task-result-area{
    margin-top: 10px;

}


.arrow-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.arrow-area .arrow-description{
    font-size: 16px;
    color:#606266;
    width: 60%;
}
.arrow-area .arrow-description p{
    margin: 0;
}
.form-card {
    border: 1px solid #d3d3d3;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.form-card p{
    font-size: 16px;
    color:#606266;
}

.form-card .card-text{
    margin-left: 20px;
    font-size: 18px;
    color:#606266;
}
.button-area{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.jump-area{
    margin: 20px 0;
    padding: 20px; 
}